/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
  font-size: medium;
}

div.sheet-main label {
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
}

div.sheet-settings label {
  margin: 5px 0px 5px 0px;
  font-size: .9em;
}

div.sheet-settings input {
  font-size: .9em;
}
/* --------- Inputs ------------- */

input[type="text"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
}

input[type="number"] {
  background-color: transparent;
  border: none;
}

textarea {
  background-color: transparent;
  width: 89%;
  height: 70%;
  margin-right: 15px;
}

input[type="checkbox"].sheet-checkbox {
  border-style: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus{
  background-color: #F6CED8;
}

/* ------- Buttons ---------- */

button[type="roll"]:not(.sheet-small){
  color: black;
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

button[type="roll"]:not(.sheet-small)::before{
  font-size: 1.4em;
}

/* --------- General Section Styling ------------- */
.sheet-flex-center {
  display: flex;
  align-items: center;
}

.sheet-flex-middle {
  display: flex;
  justify-content: center;
}

.sheet-flex-down {
  flex-flow: column nowrap;
}

.sheet-section {
    padding: 5px;
    min-height: 90%;
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------------------*/
/* ------ Main  Structure ------- */
/*--------------------------------*/

div.sheet-main{
	display:grid;
	grid-template-columns: 140px 140px 290px 230px;
	grid-template-rows: 50px	50px	50px	100px;
	grid-template-areas:"logo	logo	name	lvl"
						"logo	logo	hp		sta"
						"logo	logo	quirk	ac"
						"logo	logo	buttons	buttons";
	grid-gap: 6px;
	width:		850px;
	height:		900px;
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxBroader.jpg?raw=true);
	background-size: 850px 900px;
	background-repeat: no-repeat;
}
/* LOGO SECTION */

div.sheet-logo{
  grid-area: logo;
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FF-Logo.png?raw=true);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  flex-flow: column;
}
div.sheet-logo span{
  font-size: 15px;
  background-color: white;
  border: 2px solid black; 
}

/* NAME SECTION */

div.sheet-name{
  grid-area: name;
  padding-top: 35px;
}

div.sheet-name div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxOne.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-name label{
  width: 50px;
  padding-left: 15px;
}

div.sheet-name input{
  width: 180px;
}

/* LVL SECTION */

div.sheet-lvl{
  grid-area: lvl;
  padding-top: 35px;
}

div.sheet-lvl div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxTwo.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-lvl label{
  width: 50px;
  padding-left: 15px;
}

div.sheet-lvl input{
  width: 180px;
}


/* HP SECTION */

div.sheet-hp{
  grid-area: hp;
  padding-top: 35px;
}

div.sheet-hp div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxOne.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-hp label{
  width: 20px;
  padding-left: 15px;
}

div.sheet-hp input{
  width: 180px;
}

/* STA SECTION */

div.sheet-sta{
  grid-area: sta;
  padding-top: 35px;
}

div.sheet-sta div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxThree.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-sta label{
  width: 20px;
  padding-left: 15px;
}

div.sheet-sat input{
  width: 180px;
}

/* AC SECTION */

div.sheet-ac{
  grid-area: ac;
  padding-top: 35px;
}

div.sheet-ac div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxThree.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-ac label{
  width: 40px;
  padding-left: 15px;
}

div.sheet-ac input{
  width: 180px;
}

/* QUIRK SECTION */

div.sheet-quirk{
  grid-area: quirk;
  padding-top: 35px;
}

div.sheet-quirk div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxOne.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 290px;
}

div.sheet-quirk label{
  width: 50px;
  padding-left: 15px;
}

div.sheet-quirk input{
  width: 180px;
}

/* BUTTONS SECTION */

div.sheet-buttons{
  grid-area: buttons;
  padding-top: 35px;
  padding-left: 95px;
}

div.sheet-buttons div.sheet-section-small{
  height: 50px;
  width: 290px;
}

div.sheet-buttons label{
  width: 50px;
  padding-left: 15px;
}

div.sheet-buttons button{
	border-radius: 30%;
}

div.sheet-buttons input{
  width: 180px;
}

.sheet-charButton,
.sheet-skillsButton,
.sheet-abiButton,
.sheet-invButton,
.sheet-noteButton,
.sheet-settingsButton{
	background-color: initial;
	color: initial;
}

.sheet-tabstoggle[value="character"] ~ button.sheet-charButton,
.sheet-tabstoggle[value="note"] ~ button.sheet-noteButton,
.sheet-tabstoggle[value="inventory"] ~ button.sheet-invButton,
.sheet-tabstoggle[value="skills"] ~ button.sheet-skillsButton,
.sheet-tabstoggle[value="abi"] ~ button.sheet-abiButton,
.sheet-tabstoggle[value="settings"] ~ button.sheet-settingsButton{
	background-color: #ff0000;
	color: #ffffff;
}

/* BUTTONS BACKGROUND SECTION */

div.sheet-bbackground{
  grid-area: buttons;
  padding-top: 35px;
  padding-left: 30px;
}

div.sheet-bbackground div.sheet-section-small{
  background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxFour.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 600px;
}

/* TAB CONTROL */
/*Configure the tab buttons*/
.sheet-character,
.sheet-inventory,
.sheet-note,
.sheet-skills,
.sheet-abi,
.sheet-settings{
	display: none;
}
/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="note"] ~ div.sheet-note,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.sheet-tabstoggle[value="abi"] ~ div.sheet-abi,
.sheet-tabstoggle[value="settings"] ~ div.sheet-settings{
	display: block;
}

/*--------------------------------*/
/* ------ Stats Structure ------- */
/*--------------------------------*/

div.sheet-stats{
	display:grid;
	grid-template-columns: 260px 260px 80px;
	grid-template-rows: 75px	75px	75px	75px;
	grid-template-areas:"strength	consitution	initiative"
						"perception	movement	money"
						"wit		finesse		money"
						"control	charm		exslot"
						"terror		intellect	exslot"
						"income		move		exslot"
						"wanted		renown		tol";
	grid-gap: 6px;
}





/* STRENGTH SECTION */

div.sheet-strength{
	grid-area: strength;
	margin-left: 15px;
}

div.sheet-strength div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockStrength.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-strength label{
	width: 65px;
	font-size: 11px;
}

div.sheet-strength input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-strength span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-strength button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-strength button[type=roll]::before{
	display:none;
}

div.sheet-strength button:hover{
	color: red;
}

/* CONSITUTION SECTION */

div.sheet-consitution{
	grid-area: consitution;
	margin-left: 15px;
}

div.sheet-consitution div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockConsitution.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-consitution label{
	width: 65px;
	font-size: 11px;
}

div.sheet-consitution input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-consitution span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-consitution button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-consitution button[type=roll]::before{
	display:none;
}

div.sheet-consitution button:hover{
	color: red;
}

/* PERCEPTION SECTION */

div.sheet-perception{
	grid-area: perception;
	margin-left: 15px;
}

div.sheet-perception div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockPerception.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-perception label{
	width: 65px;
	font-size: 11px;
}

div.sheet-perception input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-perception span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-perception button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-perception button[type=roll]::before{
	display:none;
}

div.sheet-perception button:hover{
	color: red;
}

/* MOVEMENT SECTION */

div.sheet-movement{
	grid-area: movement;
	margin-left: 15px;
}

div.sheet-movement div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockMovement.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-movement label{
	width: 65px;
	font-size: 11px;
}

div.sheet-movement input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-movement span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-movement button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-movement button[type=roll]::before{
	display:none;
}

div.sheet-movement button:hover{
	color: red;
}



/* FINESSE SECTION */

div.sheet-finesse{
	grid-area: finesse;
	margin-left: 15px;
}

div.sheet-finesse div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockFinesse.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-finesse label{
	width: 65px;
	font-size: 11px;
}

div.sheet-finesse input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-finesse span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-finesse button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-finesse button[type=roll]::before{
	display:none;
}

div.sheet-finesse button:hover{
	color: red;
}

/* CONTROL SECTION */

div.sheet-control{
	grid-area: control;
	margin-left: 15px;
}

div.sheet-control div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockControl.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-control label{
	width: 65px;
	font-size: 11px;
}

div.sheet-control input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-control span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-control button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-control button[type=roll]::before{
	display:none;
}

div.sheet-control button:hover{
	color: red;
}

/* CHARM SECTION */

div.sheet-charm{
	grid-area: charm;
	margin-left: 15px;
}

div.sheet-charm div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockCharm.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-charm label{
	width: 65px;
	font-size: 11px;
}

div.sheet-charm input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-charm span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-charm button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-charm button[type=roll]::before{
	display:none;
}

div.sheet-charm button:hover{
	color: red;
}

/* TERROR SECTION */

div.sheet-terror{
	grid-area: terror;
	margin-left: 15px;
}

div.sheet-terror div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockTerror.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-terror label{
	width: 65px;
	font-size: 11px;
}

div.sheet-terror input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-terror span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-terror button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-terror button[type=roll]::before{
	display:none;
}

div.sheet-terror button:hover{
	color: red;
}

/* INTELLECT SECTION */

div.sheet-intellect{
	grid-area: intellect;
	margin-left: 15px;
}

div.sheet-intellect div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockIntellect.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-intellect label{
	width: 65px;
	font-size: 11px;
}

div.sheet-intellect input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-intellect span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-intellect button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-intellect button[type=roll]::before{
	display:none;
}

div.sheet-intellect button:hover{
	color: red;
}

/* WIT SECTION */

div.sheet-wit{
	grid-area: wit;
	margin-left: 15px;
}

div.sheet-wit div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockWit.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-wit label{
	width: 65px;
	font-size: 11px;
}

div.sheet-wit input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-wit span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-wit button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-wit button[type=roll]::before{
	display:none;
}

div.sheet-wit button:hover{
	color: red;
}

/* INITIATIVE SECTION */

div.sheet-initiative{
	grid-area: initiative;
	margin-left: 15px;
}

div.sheet-initiative div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFstatblockTinkering.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 70px;
	width: 600px;
}

div.sheet-initiative label{
	width: 65px;
	font-size: 11px;
}

div.sheet-initiative input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-initiative span{
	margin-left: 24px;
	font-size: 20px;
	font-weight: 600;
	width: 25px;
}

div.sheet-initiative button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-initiative button[type=roll]::before{
	display:none;
}

div.sheet-initiative button:hover{
	color: red;
}

/* MONEY SECTION */

div.sheet-money{
	grid-area: money;
	display:grid;
	margin-left: 55px;
	grid-template-columns: 80px 80px;
	grid-template-rows: 45px 45px;
	grid-template-areas:"copper		silver"
						"gold		plat";
	grid-gap: 6px;
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/BoxFive.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 115px;
	width: 600px;
}

div.sheet-copper{
	margin-top: 15px;
	grid-area: copper;
	margin-left: 15px;
}

div.sheet-silver{
	margin-top: 15px;
	grid-area: silver;
	margin-left: 15px;
}

div.sheet-gold{
	margin-top: 15px;
	grid-area: gold;
	margin-left: 15px;
}

div.sheet-plat{
	margin-top: 15px;
	grid-area: plat;
	margin-left: 15px;
}

/*--------------------------------*/
/* ------ Skills Structure ------ */
/*--------------------------------*/
div.sheet-skill{
	display:grid;
	grid-template-columns: 260px 260px 80px;
	grid-template-rows: 75px	75px	75px	75px;
	grid-template-areas:"melee			ranged			stealth"
						"medicine		alchemy			tinkering"
						"electronics	hackiing		metalworking"
						"carpentry		leatherworking	weaving"
						"cooking		jewelsmithing	none";
	grid-gap: 6px;
	margin-left: 0px;
}

/* MELEE SECTION */

div.sheet-melee{
	grid-area: melee;
	margin-left: 15px;
}

div.sheet-melee div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFskillsblock.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 75px;
	width: 600px;
}

div.sheet-melee label{
	width: 72px;
	font-size: 11px;
}

div.sheet-melee input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 70px;
}


div.sheet-melee button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-melee button[type=roll]::before{
	display:none;
}

div.sheet-melee button:hover{
	color: red;
}

/* RANGED SECTION */

div.sheet-ranged{
	grid-area: ranged;
	margin-left: 22px;
}

div.sheet-ranged div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFskillsblock.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 75px;
	width: 600px;
}

div.sheet-ranged label{
	width: 85px;
	font-size: 11px;
}

div.sheet-ranged input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-ranged button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-ranged button[type=roll]::before{
	display:none;
}

div.sheet-ranged button:hover{
	color: red;
}

/* STEALTH SECTION */

div.sheet-stealth{
	grid-area: stealth;
	margin-left: 28px;
}

div.sheet-stealth div.sheet-section-small{
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFskillsblock.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 75px;
	width: 600px;
}

div.sheet-stealth label{
	width: 85px;
	font-size: 11px;
}

div.sheet-stealth input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-stealth button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-stealth button[type=roll]::before{
	display:none;
}

div.sheet-stealth button:hover{
	color: red;
}

/* TINKERING SECTION */

div.sheet-tinkering{
	grid-area: tinkering;
	margin-left: 22px;
	background-image: url(https://github.com/6litch/DnD-FreeForm/blob/master/images/FFskillsblock.jpg?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 75px;
	width: 600px;
}

div.sheet-tinkering div.sheet-section-small{

}

div.sheet-tinkering label{
	width: 85px;
	font-size: 11px;
}

div.sheet-tinkering input{
	text-align: center;
	width: 10px;
	font-size: 20px;
	font-weight: 600;
	margin-left: 55px;
}

div.sheet-tinkering button{
	font-size: 10px;
	border: none;
	background-color: inherit;
	font-weight: 600;
	background-image: none;
}

div.sheet-tinkering button[type=roll]::before{
	display:none;
}

div.sheet-tinkering button:hover{
	color: red;
}

div.sheet-stat1tinkering label{
	margin-bottom: -5px;
	margin-left: 40px;
}
div.sheet-stat2tinkering label{
	margin-top: -5px;
	margin-left: 40px;
}
div.sheet-tinkeringmod input{
	margin-left:-20px
}
/*--------------------------------*/
/* ---- Abilities Structure ----- */
/*--------------------------------*/
.sheet-abiarea {
  display: grid;
  width: 800px;
  height: 1070px;
  margin-left: 25px;
  grid-gap: 4px;
  grid-template-columns: 795px;
  grid-template-rows: 1060px;
  grid-template-areas:"ability";
}

.sheet-ability{
    grid-area:ability;
}
	

/*--------------------------------*/
/* ---- Inventory Structure ----- */
/*--------------------------------*/
.sheet-invarea {
  display: grid;
  width: 800px;
  height: 1070px;
  margin-left: 25px;
  grid-gap: 4px;
  grid-template-columns: 220px 575px;
  grid-template-rows: 200px;
  grid-template-areas:"slots  inv";
}
.sheet-inv{
    grid-area:inv;
}
.sheet-slots{
    grid-area:slots;
}


/*--------------------------------*/
/* ------ Notes Structure ------- */
/*--------------------------------*/

div.sheet-notearea{
    display: grid;
	width: 800px;
	height: 800px;
	margin-left: 25px;
	grid-gap: 4px;
	grid-template-columns: 795px;
	grid-template-rows: 790px;
	grid-template-areas:"notes";
}
div.sheet-notes{
    grid-area:notes;
}
div.sheet-notes textarea{
    width:790px;
	height:600px;
}
/*--------------------------------*/
/* ----- Setting Structure ------ */
/*--------------------------------*/

div.sheet-settings{
	display:grid;
	grid-template-columns: 140px 140px 290px 230px;
	grid-template-rows: 50px	50px	50px	100px;
	grid-template-areas:"";
	grid-gap: 6px;
}



























